* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

html,
body {
    max-width: 100dvw;
    overflow-x: hidden;
}

body {
    font-size: 1.5rem;
    background-image: url("/assets/imgs/bg_global.webp");
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
}

*::-webkit-scrollbar {
    width: 1.2rem;
    margin-right: 2rem;
}

*::-webkit-scrollbar-track {
    background: #403f3f;
    /* border-radius: 0.5rem; */
}

*::-webkit-scrollbar-thumb {
    background: #ffcd04;
    border-radius: 0.5rem;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

textarea {
    font-family: inherit;
}
