.footer_container {
    width: 100%;
    min-height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 4rem 2rem;
    gap: 2rem;
    background: linear-gradient(to bottom, rgb(35, 35, 35), rgb(0, 0, 0));
    color: #fff;
    border-top: 2px solid #ffcd04;
}

.footer_container p {
    text-align: center;
}

.dev_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.dev {
    color: #ffcd04;
    font-weight: 800;
    transition: all 300ms ease-in-out;
}

.btns_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.icon {
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    transition: all 300ms ease-in-out;
}

@media (hover: hover) {
    .dev:hover {
        color: #1ae0a5;
    }

    .icon:hover {
        color: #ffcd04;
    }
}

@media (min-width: 800px) {
    .footer_container {
        padding: 0rem 2rem;
    }

    .footer_container {
        flex-direction: row;
    }

    .dev_container {
        flex-direction: row;
    }
}
