.main {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-inline: 2rem;
    background-image: url("/assets/imgs/teste1.webp");
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
}
