.card_container {
    width: 100%;
    height: 7rem;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 2rem;
    gap: 2rem;
    cursor: grab;
}

.card_container:active {
    cursor: grab;
}
.card_actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    cursor: auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    border-radius: 1rem;
    transition: all 300ms ease-in-out;
}

@media (hover: hover) {
    .btn:hover {
        transform: scale(1.1);
    }
}
