.custom_shape_divider_top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom_shape_divider_top svg {
    position: relative;
    display: block;
    width: calc(113% + 1.3px);
    height: 150px;
}

.custom_shape_divider_top .shape_fill {
    fill: rgba(125, 125, 125, 0.225);
}
