.hero_container {
    width: 100%;
    min-height: calc(80dvh - 8rem);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-inline: 2rem;
}

.content_container {
    max-width: 120rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    gap: 3rem;
}

.title {
    font-size: 4rem;
    text-align: center;
}

.letter {
    color: #ffcd04;
}

.subtitle {
    max-width: 40ch;
    font-size: 2rem;
    text-align: center;
}

.paragraph {
    max-width: 90ch;
    text-align: center;
    font-size: 1.7rem;
}

.link {
    padding: 1rem 2rem;
    backdrop-filter: blur(13px);
    border: 2px solid #ffcd04;
    color: #fff;
    border-radius: 1rem;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: all 300ms ease-in-out;
}

@media (hover: hover) {
    .link:hover {
        transform: scale(1.05);
        filter: brightness(1.1);
    }
}
