.main {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(10, 10, 10, 0.7);
    background-image: url("/assets/imgs/bg_conta.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-blend-mode: darken;
    padding: 2rem 2rem;
    gap: 2rem;
}

@media (min-width: 900px) {
    .main {
        flex-direction: row;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        background-blend-mode: darken;
        padding: 0;
        gap: 0;
    }
}
